.course-card {
	border: 1px solid black;
	margin: 10px;
}

#card{
	width: 500px; 
	max-height:460px;
	 margin-bottom:70px
}

.image-height{
	height:280px;
}

.button-align{
	margin-left:320px;
}